{% extends 'base.html.twig' %}

{% block body %}

<h1>Circuit {{circuit.description}}</h1>

<table class="table">
    <tbody>
    <tr>
    </tr>
    <tr>
        <th>Id</th>
        <td>{{ circuit.id }}</td>
    </tr>
    </tbody>

    {% for etape in circuit.etapes %}
    <tr>
        <td>{{ etape.numeroEtape }}</td>
        <td>{{ etape.getVilleEtape() }}</td>
        <td>{{ etape.getNombreJours() }}</td>
    </tr>
    {% endfor %} {# etapes #}
</table>

<a href="{{ path('front') }}">retour à l'accueil</a>

{% endblock %} {# body #}