{% extends 'base.html.twig' %}

{% block title %}Circuit{% endblock %}

{% block main %}
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Auteur" content="Dylan Soton & Victor Védie">

    <!-- Quelques polices d'écritures plus jolies :) -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Un Css modifié :) -->
    <link href="../../css/circuit.css" rel="stylesheet">

</head>
<body>
<!-- NavBar Menu -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a href="/">Menu Principal</a>
        <a href="{{ path('admin_circuit_index') }}">Revenir a la liste</a>
        <a href="{{ path('admin_circuit_edit', {'id': circuit.id}) }}">Edit</a>
        {{ include('back/circuit/_delete_form.html.twig') }}
    </div>
</nav>

<section id="container-table" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1>Circuit</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ circuit.id }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ circuit.description }}</td>
                        </tr>
                        <tr>
                            <th>PaysDepart</th>
                            <td>{{ circuit.paysDepart }}</td>
                        </tr>
                        <tr>
                            <th>VilleDepart</th>
                            <td>{{ circuit.villeDepart }}</td>
                        </tr>
                        <tr>
                            <th>VilleArrivee</th>
                            <td>{{ circuit.villeArrivee }}</td>
                        </tr>
                        <tr>
                            <th>DureeCircuit</th>
                            <td>{{ circuit.dureeCircuit }}</td>
                        </tr>
                        <tr>
                            <th>PaysArrivee</th>
                            <td>{{ circuit.paysArrivee }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>





</body>
<!-- Petit CopyRight Inutile Donc Indispensable ! -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Copyright &copy; Dylan Soton & Victor Védie
    </div>
</footer>

<!-- bootstrap.min & JavaScript -->
<script src="../js/bootstrap.min.bundle.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="../js/accueil.js"></script>

</html>

{% endblock %} {# main #}